<!doctype html>
{% load staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- FontAwesome CSS-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="icon" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'stylesheet.css' %}">
    {% block links %}

    {% endblock links %}
    <title>
      CAI
    </title>
  </head>
  <body style='padding-top:80px'>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand mx-3" href="#">
        <img src="{% static "images/logo_cai.png" %}" height="45" alt="">
      </a>
      <!-- BEGIN Navbar sections and links -->
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'home' %}">UnicoCAI Punti di Interesse</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <ul class="nav form-inline text-right pr-3">
        <li class="nav-item pr-3">
          <span class="text-light"><i class="fas fa-user fa-fw"></i> {{ user.username }}</span>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-fw"></i> Logout</a>
        </li>
      </ul>
      {% endif %}
      <!-- END Navbar sections and links -->
    </nav>
    {% block main %}{% endblock main %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block script %}{% endblock script %}
</body>
</html>
