{% extends 'punti_interesse/base.html' %}
{% load pi_template_tags %}
{% block main %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row pb-3">
        <div class="col">
          <input class="form-control" style="width:350px" type="search" placeholder="Cerca">
        </div>
        <div class="col">
          <a class="btn btn-primary float-right" href="{% url 'new' %}"><i class="fas fa-plus"></i> Nuovo</a>
        </div>       
      </div>      
      {% if punti %}
      <table class="table">
      <thead>
        <tr>
        <th scope="col" style="width: 30%">Nome</th>
        <th scope="col" style="width: 30%">Categoria</th>
        <th scope="col" style="width: 20%">Tipo</th>
        <th scope="col" style="width: 20%">Ultimo Aggiornamento</th>
        </tr>
      </thead>
      <tbody>
      {% for punto in punti %}
        {% if punto.validato %}
          <tr>
        {% else %}
          <tr class="table-info">
        {% endif %}
        <td><a href="{% url 'show' punto.slug %}">{{ punto.nome }}</a></td>
        <td>{{ punto.categoria }}</td>
        <td>{{ punto.tipo }}</td>
        <td>{{ punto.data }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
      {% else %}
      Errore! Nessun punto di interesse disponibile
      {% endif %}
    </div>
  </div>
</main>

{% endblock main %}
