{% extends 'punti_interesse/base.html' %}
{% load pi_template_tags %}
{% block main %}

<main role="main" class="container">
  <div class="row">
    <div class="col-md-12">
      <form method="GET" action=".">
        <div class="form-row justify-content-between">
          <div class="col-xs-12 col-md-8 col-lg-6 mb-3 order-2 order-md-1">
            <div class="input-group">
              <input class="form-control rounded" name="nome" type="search" placeholder="Cerca punto di interesse" {% if query %} value="{{ query }}" {% endif %}>
              <button class="btn btn-primary ml-2" type="submit"><i class="fas fa-search fa-fw"></i><span class="d-none d-sm-inline"> Cerca</span></button>
              <a href="{% url 'home' %}" class="btn btn-secondary text-light ml-2"><i class="fas fa-redo fa-fw"></i><span class="d-none d-sm-inline"> Ripristina</span></a>
            </div>
          </div>
          <div class="col-md-2 col-xs-12 mb-3 order-1 order-md-2">
            {% if user|is_rilevatore %}
            <a class="btn btn-primary btn-block" href="{% url 'new' %}"><i class="fas fa-plus"></i> Nuovo</a>
            {% endif %}
            {% if user.is_staff %}
            <div class="dropdown">
              <button class="btn btn-primary btn-block dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Azioni
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'export' %}"><i class="fas fa-file-download fa-fw"></i> Esporta come CSV</a>
                <a class="dropdown-item text-danger" href="{% url 'remove_invalid_points' %}"
                    onclick="return confirm('Verranno eliminati tutti i Punti di Interesse con validazione scaduta o assente. Proseguire?')">
                  <i class="fas fa-trash-alt fa-fw"></i> Elimina Punti invalidi
                </a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </form>
      {% if punti %}
      <table class="table">
      <thead>
        <tr>
        <th scope="col" style="width: 30%">Nome</th>
        <th scope="col" style="width: 30%" class="d-none d-md-table-cell">Categoria</th>
        <th scope="col" style="width: 20%" class="d-none d-md-table-cell">Tipo</th>
        <th scope="col" style="width: 20%" class="d-none d-sm-table-cell">Aggiornamento</th>
        </tr>
      </thead>
      <tbody>
      {% for punto in punti %}
        {% if punto.validato %}
        <tr>
        {% else %}
        <tr class="table-info">
        {% endif %}
        <td><a class="text-reset" href="{% url 'show' punto.slug %}">{{ punto.nome }}</a></td>
        <td class="d-none d-md-table-cell">{{ punto.categoria }}</td>
        <td class="d-none d-md-table-cell">{{ punto.sottocategoria }}</td>
        <td class="d-none d-sm-table-cell">{{ punto.data }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
      {% else %}
      <p>Errore! Nessun punto di interesse disponibile</p>
      {% endif %}
    </div>
  </div>
</main>

{% endblock main %}
