{% extends 'punti_interesse/base.html' %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col-sm">
      <a class="btn btn-outline-primary btn-lg" href="/pi/ril/" role="button">Rilevatore</a>
    </div>
    <div class="col-sm">
      <a class="btn btn-outline-success btn-lg" href="/pi/val/" role="button">Validatore</a>
    </div>
    <div class="col-sm">
      <a class="btn btn-outline-danger btn-lg" href="/admin/" role="button">Admin</a>
    </div>
  </div>
</div>

{% endblock main %}
