{% extends 'punti_interesse/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load pi_template_tags %}

{% block main %}
{% if form %}
<div class="container">
  <form id="id_form" method="POST" enctype="multipart/form-data" action="{% url 'new' %}"
    onsubmit="return confirm('Salvare il Punto di Interesse?');"
    ajax_subcat_url="{% url 'ajax_load_subcategories' %}">
    {% form_buttons %}
    <hr>
    <h2 class="pb-3">Crea nuovo punto</h2>
    {% bootstrap_form form layout='horizontal' size='small' %}
    <h4 class="pb-2"> Foto aggiuntive: </h4>
    {{ fotoformset.management_form }}
    {% bootstrap_formset fotoformset layout='horizontal' size='small' %}
    {% csrf_token %}
  </form>
</div>
{% else %}
<p>Form mancante</p>
{% endif %}

{% btn_scroll_top %}

{% endblock main %}

{% block script %}
<script src="{% static 'form_functions.js' %}"></script>
{% endblock script %}
