{% extends 'punti_interesse/base.html' %}
{% block main %}

<main role="main" class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <span class="h3 pl-3">Tutti i punti di interesse:</span>
      <div class="float-right pr-3">
        <a class="btn btn-primary btn-sm" href="/pi/ril/nuovo/"><i class="fas fa-plus"></i> Nuovo</a>
      </div>
      <ul class="p-3">
      {% if punti %}
        <table class="table table-sm table-bordered">
        <thead class="thead-light">
          <tr>
          <th scope="col" style="width: 40%">Nome</th>
          <th scope="col" style="width: 20%">Categoria</th>
          <th scope="col" style="width: 20%">Tipo</th>
          <th scope="col" style="width: 20%">Data Inserimento</th>
          </tr>
        </thead>
        <tbody>
          {% for punto in punti %}
          <tr>
          <td><a href="/pi/ril/{{punto.slug}}">{{ punto.nome }}</a></td>
          <td>{{ punto.categoria }}</td>
          <td>{{ punto.tipo }}</td>
          <td>{{ punto.data }}</td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
      {% else %}
      <li>Errore! Nessun punto di interesse disponibile</li>
      {% endif %}
      </ul>
    </div>
  </div>
</main>

{% endblock main %}
