{% extends 'punti_interesse/base.html' %}
{% load staticfiles %}
{% load pi_template_tags %}

{% block links %}
  <link rel="stylesheet" href = "{% static 'third-party/ekko-lightbox/ekko-lightbox.min.css' %}">
{% endblock links %}


{% block main %}

{% if punto %}
<main role="main" class="container">
  {% if not punto.validato %}
    {% if val %}
    <div class="alert alert-info" role="alert">
      <i class="fas fa-exclamation-triangle"></i> La validazione di questo punto di interesse è scaduta
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
      <i class="fas fa-exclamation-triangle"></i> Questo punto di interesse non è ancora stato validato
    </div>
    {% endif %}
  {% endif %}
  <div class="row">
    <div class="col-md-6 order-2 order-md-1">
      <img class="img-fluid rounded" src="{{ MEDIA_URL }}{{ punto.foto_copertina }}" alt="Immagine non trovata">
      <div class="row m-0 py-2 px-1 mt-2 rounded" style="background-color:#e1e8f0">
        <div class="col-2 px-1">
          <a href="{{ MEDIA_URL }}{{ punto.foto_copertina }}" data-toggle="lightbox" data-gallery="example-gallery">
            <img class="img-gallery rounded" src="{{ MEDIA_URL }}{{ punto.foto_copertina }}" alt="Immagine non trovata">
          </a>
        </div>
        {% if fotos %}
          {% for foto in fotos %}
          <div class="col-2 px-1">
            <a href="{{ MEDIA_URL }}{{ foto.foto }}" data-toggle="lightbox" data-gallery="example-gallery">
              <img class="img-gallery rounded" src="{{ MEDIA_URL }}{{ foto.foto }}" alt="Immagine non trovata">
            </a>
          </div>
          {% endfor %}
        {% endif %}
      </div>
      <h3 class="pt-2">Descrizione estesa</h3>
      <p class="text-justify">{{ punto.descr_estesa }}</p>
      <h4 class="pt-2">Descrizione sito</h4>
      <p>{{ punto.descr_sito }}</p>
    </div>
    <div class="col-md-6 order-1 order-md-2">
      <span class="h1">{{ punto.nome }}</span>
      {% if user|is_rilevatore %}
        <div class="float-right pt-2">
          <a class="btn btn-primary" href="{% url 'edit' punto.slug %}">Modifica</a>
        </div>
      {% endif %}
      {% if user|is_validatore and not punto.validato %}
        <div class="float-right pt-2">
          <a class="btn btn-primary" href="{% url 'validate' punto.slug %}">Valida</a>
        </div>
      {% endif %}
      <br>
      {{ punto.categoria }} -
      {{ punto.tipo }} <br>
      <hr>
      {{ punto.descr_breve }} <br><br>
      {% if punto.visitabile %}
        <i class="fas fa-check fa-fw"></i> Visitabile
      {% else %}
        <i class="fas fa-times fa-fw"></i> Non visitabile
      {% endif %}
      <br>
      {% if punto.visitabile2 %}
        <i class="fas fa-check fa-fw"></i> Visitabile per persone con ridotta capacità motoria o sensoriale
      {% else %}
        <i class="fas fa-times fa-fw"></i> Non visitabile per persone con ridotta capacità motoria o sensoriale
      {% endif %}
      <br><br>
      <dl class="row">
        <dt class="col-sm-5">Coordinate</dt>
        <dd class="col-sm-7">{{ punto.latitudine }} ; {{ punto.longitudine }}</dd>
        <dt class="col-sm-5">Località</dt>
        <dd class="col-sm-7">{{ punto.localita }}</dd>
        <dt class="col-sm-5">Valle</dt>
        <dd class="col-sm-7">{{ punto.valle }}</dd>
        <dt class="col-sm-5">Qualità</dt>
        <dd class="col-sm-7">{{ punto.qualita }}</dd>
        <dt class="col-sm-5">Estensione</dt>
        <dd class="col-sm-7">{{ punto.estensione }}</dd>
        <dt class="col-sm-5">Stato di conservazione</dt>
        <dd class="col-sm-7">_Buono</dd>
        <dt class="col-sm-5">Periodo di visita</dt>
        <dd class="col-sm-7">{{ punto.periodo }}</dd>
        <dt class="col-sm-5">Valenza</dt>
        <dd class="col-sm-7">{{ punto.valenza }}</dd>
        <dt class="col-sm-5">Istituto di tutela</dt>
        <dd class="col-sm-7">{{ punto.valenza }}</dd>
        <dt class="col-sm-5">Motivo della fruizione</dt>
        <dd class="col-sm-7">{{ punto.motivo }}</dd>
        <dt class="col-sm-5">Riferimenti bibliografici</dt>
        <dd class="col-sm-7">{{ punto.rif_biblio }}</dd>
        <dt class="col-sm-5">Riferimenti sitografici</dt>
        <dd class="col-sm-7">{{ punto.rif_sito }}</dd>
      </dl>
    </div>
  </div>
  {% if val %}
  <div class="row">
    <div class="col-md-12 pt-2 rounded" style="background-color:#e1e8f0">
      <h2>Validazione {% if not punto.validato %}(scaduta){% endif %}</h2>
      <div class="row">
        <div class="col-md-6">
          <p class="text-justify">{{ val.descrizione }}</p>
        </div>
        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-5">Regione</dt>
            <dd class="col-sm-7">{{ val.regione }}</dd>
            <dt class="col-sm-5">Comunità montana</dt>
            <dd class="col-sm-7">{{ val.comunita_montana }}</dd>
            <dt class="col-sm-5">Gruppo montuoso</dt>
            <dd class="col-sm-7">{{ val.gruppo_montuoso }}</dd>
            <dt class="col-sm-5">Quota</dt>
            <dd class="col-sm-7">{{ val.quota }}</dd>
          </dl>
        </div>
      </div>
      <p><i>
        Validazione eseguita da <b>{{ val.validatore }}</b>. Aggiornata al<b> {{ val.data_aggiornamento }}</b>
      </i></p>
    </div>
  </div>
  {% endif %}
  <br>
  <p><i>Punto di interesse rilevato da<b> _Pino</b>. Aggiornato al <b>{{ punto.data }}</b></i></p>
</main>
{% else %}
Errore! Punto di intersse mancante.
{% endif %}

{% endblock main %}


{% block script %}
<script src="{% static 'third-party/ekko-lightbox/ekko-lightbox.min.js' %}"></script>
<script>
$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });
</script>
{% endblock script %}
