{% extends 'punti_interesse/base.html' %}
{% load staticfiles %}
{% load pi_template_tags %}

{% block links %}
  <link rel="stylesheet" href="{% static 'third-party/ekko-lightbox/ekko-lightbox.min.css' %}">
{% endblock links %}

{% block main %}

{% if punto %}
<main role="main" class="container">

  {% if not punto.validato %}
  <div class="alert alert-info" role="alert">
    <i class="fas fa-exclamation-triangle"></i>
    {% if val %}
    <span class="d-none d-sm-inline"> La validazione di questo punto di interesse è scaduta</span>
    <span class="d-inline d-sm-none"> Validazione scaduta</span>
    {% else %}
    <span class="d-none d-sm-inline"> Questo punto di interesse non è ancora stato validato</span>
    <span class="d-inline d-sm-none"> Validazione mancante</span>
    {% endif %}
  </div>
  {% endif %}

  <a class="btn btn-secondary" href="{% url 'home' %}">
    <i class="fas fa-home fa-fw"></i><span class="d-none d-sm-inline"> Elenco</span>
  </a>
  <button class="btn btn-secondary ml-2" onclick="document.getElementById('id_copertina').click();">
    <i class="fas fa-images fa-fw"></i><span class="d-none d-sm-inline"> Galleria</span>
  </button>
  {% if user|is_rilevatore %}
  <a class="btn btn-primary ml-2 {% if not ril_owner %} disabled {% endif %}" href="{% url 'edit' punto.slug %}">
    <i class="fas fa-pencil-alt fa-fw"></i><span class="d-none d-sm-inline"> Modifica</span>
  </a>
  {% endif %}
  {% if user|is_validatore %}
  <a class="btn btn-primary ml-2" href="{% url 'validate' punto.slug %}">
    {% if punto.validato %}
    <i class="fas fa-pencil-alt fa-fw"></i><span class="d-none d-sm-inline"> Modifica Validazione</span>
    {% else %}
    <i class="fas fa-check-circle fa-fw"></i><span class="d-none d-sm-inline"> Valida</span>
    {% endif %}
  </a>
  {% endif %}
  <hr>
  <div class="row">
    <div class="col-md-6 order-2 order-md-1">
      {% if punto.foto_copertina %}
      <img class="img-fluid rounded" src="{{ MEDIA_URL }}{{ punto.foto_copertina }}" alt="Immagine non trovata">
      <div class="row m-0 py-2 px-1 mt-2 rounded" style="background-color:#e1e8f0">
        <div class="col-2 px-1">
          <a href="{{ MEDIA_URL }}{{ punto.foto_copertina }}" data-toggle="lightbox" data-gallery="example-gallery" id="id_copertina">
            <img class="img-gallery rounded" src="{{ MEDIA_URL }}{{ punto.foto_copertina }}" alt="Immagine non trovata">
          </a>
        </div>
        {% if fotos %}
          {% for foto in fotos %}
          <div class="col-2 px-1">
            <a href="{{ MEDIA_URL }}{{ foto.foto }}" data-toggle="lightbox" data-gallery="example-gallery">
              <img class="img-gallery rounded" src="{{ MEDIA_URL }}{{ foto.foto }}" alt="Immagine non trovata">
            </a>
          </div>
          {% endfor %}
        {% endif %}
      </div>
      {% else %}
      <div class="alert alert-info" role="alert">
      <i class="fas fa-exclamation-triangle"></i> Nessuna foto disponibile.
      </div>
      {% endif %}
      <h3 class="pt-2">Descrizione</h3>
      <p class="text-justify">{{ punto.descr_estesa|markup|safe }}</p>
      <h4 class="pt-2">Come si raggiunge</h4>
      <p>{{ punto.descr_sito|markup|safe }}</p>
    </div>
    <div class="col-md-6 order-1 order-md-2">
      <h1>{{ punto.nome }}</h1>
      <h5>{{ punto.categoria }} - {{ punto.sottocategoria }}</h5>
      <hr>
      <p>{{ punto.descr_breve|markup|safe }}</p>
      <ul class="list-unstyled">
        <li>
        {% if punto.visitabile %}
          <i class="fas fa-check fa-fw"></i> Visitabile
        {% else %}
          <i class="fas fa-times fa-fw"></i> Non visitabile
        {% endif %}
        </li>
        <li>
        {% if punto.visitabile2 %}
          <i class="fas fa-check fa-fw"></i> Visitabile per persone con ridotta capacità motoria o sensoriale
        {% else %}
          <i class="fas fa-times fa-fw"></i> Non visitabile per persone con ridotta capacità motoria o sensoriale
        {% endif %}
        </li>
      </ul>
      <dl class="row">
        <dt class="col-sm-5">Coordinate</dt>
        <dd class="col-sm-7">{{ punto.latitudine|floatformat:6 }} ; {{ punto.longitudine|floatformat:6 }}</dd>
        <dt class="col-sm-5">Località</dt>
        <dd class="col-sm-7">{{ punto.localita }}</dd>
        <dt class="col-sm-5">Valle</dt>
        <dd class="col-sm-7">{{ punto.valle|default:"Nessuna" }}</dd>
        <dt class="col-sm-5">Qualità</dt>
        <dd class="col-sm-7">{{ punto.qualita }}</dd>
        <dt class="col-sm-5">Estensione</dt>
        <dd class="col-sm-7">{{ punto.estensione }}</dd>
        <dt class="col-sm-5">Stato di conservazione</dt>
        <dd class="col-sm-7">{{ punto.stato_conservazione }}</dd>
        <dt class="col-sm-5">Periodo di visita</dt>
        <dd class="col-sm-7">{{ punto.periodo|default:"Nessuna informazione" }}</dd>
        <dt class="col-sm-5">Valenza</dt>
        <dd class="col-sm-7">{{ punto.valenza }}</dd>
        <dt class="col-sm-5">Istituto di tutela</dt>
        <dd class="col-sm-7">{{ punto.istituto|default:"Nessuno" }}</dd>
        <dt class="col-sm-5">Motivo della fruizione</dt>
        <dd class="col-sm-7">{{ punto.motivo|markup|safe|default:"Nessun motivo specificato" }}</dd>
        <dt class="col-sm-5">Riferimenti bibliografici</dt>
        <dd class="col-sm-7">{{ punto.rif_biblio|markup|safe|default:"Nessun riferimento" }}</dd>
        <dt class="col-sm-5">Riferimenti sitografici</dt>
        <dd class="col-sm-7">{{ punto.rif_sito|markup|safe|default:"Nessun riferimento" }}</dd>
      </dl>
    </div>
  </div>
  {% if val %}
  <div class="row">
    <div class="col-md-12 pt-2 rounded" style="background-color:#e1e8f0">
      <h2>Validazione {% if not punto.validato %}(scaduta){% endif %}</h2>
      <div class="row">
        <div class="col-md-6">
          <p class="text-justify">{{ val.descrizione }}</p>
        </div>
        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-5">Regione</dt>
            <dd class="col-sm-7">{{ val.get_regione_display }}</dd>
            <dt class="col-sm-5">Comunità montana</dt>
            <dd class="col-sm-7">{{ val.comunita_montana|default:"Nessuna" }}</dd>
            <dt class="col-sm-5">Gruppo montuoso</dt>
            <dd class="col-sm-7">{{ val.gruppo_montuoso|default_if_none:"Nessuno" }}</dd>
            <dt class="col-sm-5">Quota</dt>
            <dd class="col-sm-7">{{ val.quota }}</dd>
          </dl>
        </div>
      </div>
      <p><i>
        Validazione eseguita da<b>
          {% if val.validatore %}
            {{ val.validatore.first_name }} {{ val.validatore.last_name }}
          {% else %}
            [rimosso]
          {% endif %}
          </b>. Aggiornata al <b>{{ val.data_aggiornamento }}</b>
      </i></p>
    </div>
  </div>
  {% endif %}
  <br>
  <p><i>Punto di interesse rilevato da<b>
    {% if punto.rilevatore %}
      {{ punto.rilevatore.first_name }} {{ punto.rilevatore.last_name }}
    {% else %}
      [rimosso]
    {% endif %}
    </b>. Aggiornato al <b>{{ punto.data }}</b>
  </i></p>
</main>
{% else %}
Errore! Punto di intersse mancante.
{% endif %}

{% endblock main %}


{% block script %}
<script src="{% static 'third-party/ekko-lightbox/ekko-lightbox.min.js' %}"></script>
<script>
$(document).on('click', '[data-toggle="lightbox"]', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
});
</script>
{% endblock script %}
