{% extends 'punti_interesse/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block main %}
<div class="container">
{% if form %}
  <h3>Valida {{ punto.nome }}</h3>
  <hr>
  <form id="val-form" method="POST" action="{% url 'validate' punto.slug %}">
  {% bootstrap_form form layout='horizontal' size='small' %}
  {% csrf_token %}
  {% bootstrap_button "Save" button_type="submit" button_class="btn-primary" %}
  {% bootstrap_button "Reset" button_type="reset" button_class="btn-primary" %}
  </form>
{% else %}
<p>Form mancante</p>
{% endif %}
</div>
{% endblock main %}
