{% extends 'punti_interesse/base.html' %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load pi_template_tags %}

{% block main %}
<div class="container">
{% if form %}
  <form id="val-form" method="POST" action="{% url 'validate' punto.slug %}" onsubmit="return confirm('Procedere con la Validazione?');">
    {% form_buttons %}
    <hr>
    <h2 class="pb-2">Valida {{ punto.nome }}</h2>
    {% bootstrap_form form layout='horizontal' size='small' %}
    {% csrf_token %}
  </form>
{% else %}
<p>Form mancante</p>
{% endif %}
</div>
{% endblock main %}
